

@{
    ViewBag.Title = "AccountDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Account</h2>
        </div>
    </header>
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body patient-det">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-expense-tab" data-toggle="pill" href="#pills-expense" role="tab" aria-controls="pills-expense" aria-selected="true">Expense</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-income-tab" data-toggle="pill" href="#pills-income" role="tab" aria-controls="pills-income" aria-selected="false">Income</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-invoice-tab" data-toggle="pill" href="#pills-invoice" role="tab" aria-controls="pills-invoice" aria-selected="false">Invoice</a>
                                </li>
                            </ul>
                            <hr />
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-expense" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <p>Need to fill mandatory fields.</p>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Date<span class="star">*</span></label>
                                                <div class="input-group date" data-provide="datepicker">
                                                    <input type="text" placeholder="dd/mm/yyyy" class="form-control">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Catagory<span class="star">*</span></label>
                                                <input type="text" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Amount<span class="star">*</span></label>
                                                <input type="text" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Details</label>
                                                <input type="text" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-control-label">Created By</label>
                                                <input type="text" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="button" value="Save" class="btn btn_2 b33 btn-primary">
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="example7" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>

                                                            <th>Date</th>
                                                            <th>Catagory</th>
                                                            <th>Details</th>
                                                            <th>Amount</th>
                                                            <th>Created By</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Catagory</td>
                                                            <td>Details</td>
                                                            <td>Amount</td>
                                                            <td>Created By</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Catagory</td>
                                                            <td>Details</td>
                                                            <td>Amount</td>
                                                            <td>Created By</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Catagory</td>
                                                            <td>Details</td>
                                                            <td>Amount</td>
                                                            <td>Created By</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Catagory</td>
                                                            <td>Details</td>
                                                            <td>Amount</td>
                                                            <td>Created By</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Catagory</td>
                                                            <td>Details</td>
                                                            <td>Amount</td>
                                                            <td>Created By</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-income" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="example8" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>

                                                            <th>Date</th>
                                                            <th>Total Patients</th>
                                                            <th>Collection</th>
                                                            <th>Balance</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Total Patients</td>
                                                            <td>Collection</td>
                                                            <td>Balance</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Total Patients</td>
                                                            <td>Collection</td>
                                                            <td>Balance</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Total Patients</td>
                                                            <td>Collection</td>
                                                            <td>Balance</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Total Patients</td>
                                                            <td>Collection</td>
                                                            <td>Balance</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>20/06/2020</td>
                                                            <td>Total Patients</td>
                                                            <td>Collection</td>
                                                            <td>Balance</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="button" value="Save" class="btn btn_2 b33 btn-primary">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-invoice" role="tabpanel" aria-labelledby="pills-contact-tab">

                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="example9" class="table table-striped" style="width:100%">
                                                    <thead>
                                                        <tr>

                                                            <th>Invoice No.</th>
                                                            <th>Date</th>
                                                            <th>Patient Name</th>
                                                            <th>Bill</th>
                                                            <th>Paid</th>
                                                            <th>Balance</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>002</td>
                                                            <td>20/06/2020</td>
                                                            <td>Dhiraj</td>
                                                            <td>3000</td>
                                                            <td>2000</td>
                                                            <td>1000</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>002</td>
                                                            <td>20/06/2020</td>
                                                            <td>Dhiraj</td>
                                                            <td>3000</td>
                                                            <td>2000</td>
                                                            <td>1000</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>002</td>
                                                            <td>20/06/2020</td>
                                                            <td>Dhiraj</td>
                                                            <td>3000</td>
                                                            <td>2000</td>
                                                            <td>1000</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>002</td>
                                                            <td>20/06/2020</td>
                                                            <td>Dhiraj</td>
                                                            <td>3000</td>
                                                            <td>2000</td>
                                                            <td>1000</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>002</td>
                                                            <td>20/06/2020</td>
                                                            <td>Dhiraj</td>
                                                            <td>3000</td>
                                                            <td>2000</td>
                                                            <td>1000</td>
                                                            <td>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item" title="Edit">
                                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                    </li>

                                                                    <li class="list-inline-item" data-toggle="modal" data-target="#ComfirmationPopup" title="Delete">
                                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="button" value="Save" class="btn btn_2 b33 btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                  <p>Your company &copy; 2017-2020</p>
                </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>
@*<div class="modal fade" id="ComfirmationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header" style="border-bottom:none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Do you want to Delete Admin?</h1>
                </div>
                <div class="modal-footer" style="border-top:none;">

                    <button type="button" class="btn btn_2 btn-primary">Yes</button>
                    <button type="button" class="btn btn_1 btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>*@


<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
<script>
    $('.b33').click(function () {
        swal({
            title: "New Medicine added successfully.",
            //text: "You clicked the button!",
            icon: "success",
            button: "OK",
        });
    });

    $(document).ready(function () {
        $('#example7').DataTable();
    });
    $(document).ready(function () {
        $('#example8').DataTable();
    });
    $(document).ready(function () {
        $('#example9').DataTable();
    });





    $('.fa.fa-times').click(function () {
        swal({
            title: "Do you want to delete admin?",
            //text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            //dangerMode: true,
            buttons: true,
            confirmButtonText: 'YES',
            cancelButtonText: "NO",

        })
.then((willDelete) => {
    if (willDelete) {
        swal("Your are deleted admin successfully.", {
            icon: "success",
        });
    }
    else {

        swal("Your admin is safe", {
            icon: "success",

        });
    }
});
    });

</script>






