
@{
    Layout = null;
}
<div class="bs-example">
    <div class="accordion" id="accordionExample1">
        @*<div class="row">
                <div class="col-md-6">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            Prescription For :
                        </li>
                        <li class="list-inline-item">
                            <div class="form-group">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-table page-date-icon" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <input type="button" value="Copy Previous" class="btn btn_1 btn-primary pull-right">
                </div>
            </div>*@
        <div class="second-tab">
            <div class="card">


                <div class="card-body">
                    <div class="table-responsive opd-table1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Service Name</th>
                                    <th>Bill</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td contenteditable="true">Fever</td>
                                    <td contenteditable="true">1000</td>
                                    <td contenteditable="true">Paid</td>
                                    <td contenteditable="true">0</td>
                                    <td>
                                        <ul class="list-inline">
                                            <li class="list-inline-item" title="Edit">
                                                <i class="fa fa-plus add-row-billing" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row reg-counter">
                <div class=" col-md-12">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body patient-det">
                            <div class="row align-items-center">
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Total</h6>
                                    <div class="count text-primary fs-20">4000</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Bill</h6>
                                    <div class="count text-primary fs-20">2000</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Paid</h6>
                                    <div class="count text-primary fs-20">1000</div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6 class="mt-0 mb-1">Balance</h6>
                                    <div class="count text-primary fs-20">1000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: .5em;">
                <div class="col-md-12 text-center">
                    <input type="button" value="Print" onclick='PrintDiv("tblPrint")' class="btn btn_1 btn-primary">
                    <input type="button" value="Finalize" onclick="SetStatus(this)" class="btn btn_2 btn-primary">
                </div>
            </div>
        </div>

    </div>
</div>
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/js/front.js"></script>
<script>
    //$(".nav-tabs li").removeClass("active"); btnInvestigation
    $("#btnObservation").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabObservation").load(url);
    });
    $("#btnMedication").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabMedication").load(url);
    });
    $("#btnCommon").on('click', function () {
        var url = $(this).data('request-url');

        $("#tabCommon").load(url);
    });
</script>
<script>

    //$('.opd-table .add-row').click(function () {
    //    $('.opd-table .table').append('<tr><td contenteditable="true">001</td><td contenteditable="true">Fever</td><td contenteditable="true">2 Week</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times"  onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    //});


    $('.opd-table1 .add-row-billing').click(function () {
        $('.opd-table1 .table').append('<tr><td>1</td><td contenteditable="true">Fever</td><td contenteditable="true">1000</td><td contenteditable="true">Paid</td><td contenteditable="true">0</td><td><ul class="list-inline"><li class="list-inline-item" title="Edit"><i class="fa fa-times add-row-billing" onclick="SomeDeleteRowFunction(this);" aria-hidden="true"></i></li></ul></td></tr>');
    });

    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function SomeDeleteRowFunction1(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }

    $('#r1').click(function () {
        $('.refe-letr').css("display", "block");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "none");
    });
    $('#r2').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "block");
        $('.medicl-cert').css("display", "none");
    });
    $('#r3').click(function () {
        $('.refe-letr').css("display", "none");
        $('.fitn-cert').css("display", "none");
        $('.medicl-cert').css("display", "block");
    });

    function SetStatus(x) {

        debugger;
        var CPno = $(this).attr("data-image");


        var form = $('#frmObservationDetails')[0];

        var fromData = new FormData(form);
        var urllink = '@Url.Content("~/Prescription/StatusChange")'
        debugger;
        $.ajax({
            type: "post",
            url: urllink,
            dataType: 'application/json',
            data: {


            },
            success: function (response) {
                alert("succesfuly saved...");
            }
        }

       )
    };
</script>
