
@{
    Layout = null;
}


    <div class="card-body">
        <div>
            <p>Have you Ever suffered from any of these?</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Diabetes
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Asthma
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Thyroid Problem
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Jaundice
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Migraine
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;AIDS
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Heart Problem
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Blood Pressure High/Low
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;TB
                </li>
                <li class="list-inline-item">
                    <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template"> &nbsp;Cancer
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label">
                        Others
                    </label>
                    <input type="text" placeholder="Please add" class="form-control">
                </div>
            </div>
        </div>
        <p>Allergies</p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">
                        Food
                    </label>
                    <select name="account" class="form-control mb-3">
                        <option>Please Select</option>
                        <option>Mango</option>
                        <option>Banana</option>
                        <option>Apple</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label">
                        Drugs
                    </label>
                    <select name="account" class="form-control mb-3">
                        <option>Please Select</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn_1 btn-primary" id="tostr-save1">Save</button>
            </div>
        </div>
    </div>

