
@{
    Layout = null;
}

<div class="card-body table">
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Blood Pressure</label>
            <div class="row">
                <div class="col-md-3 col-4">
                    <input type="text" placeholder="0" class="form-control" />
                </div>
                <div class="col-md-6 col-4">
                    <span>mmHg</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Temperature</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>&#8457;</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Blood Glucose Post Prandial</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Weight</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>kg</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Height</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>cms</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Pulse</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>/min</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Blood Glucose Fasting</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Blood Glucose Random</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Blood Urea</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Creatinine</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Uric Acid M</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">HB</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">PCV</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">WBC Count</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>cells/cumm</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Platelet Count</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>cells/cumm</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">ESR</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mm/hr</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">RBC Count</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>Mil/cumm</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">MCH</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>pg</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">MCHC</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>gms/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Lymphocyte</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Eosinophil</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Serum Bilirubin</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">SGPT ALT</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>IU/L</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">GGPT</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>IU/L</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Total Protein</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>G/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Serum Albumin</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>G/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Globulin</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>G/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Alkaline Phosphatase</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>U/L</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">SGOT</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>U/L</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Total Cholesterol</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">HDL Cholesterol</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">LDL Cholesterol</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">Triglycerides</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Non HDL</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>mg/dL</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">HbA1c</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">TSH</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>ulU/mL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row viral-span">
        <div class="col-md-3">
            <label class="form-control-label">SPO2</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>%</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">RR</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>/min</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-control-label">Head Circumference</label>
            <div class="row">
                <div class="col-md-3 col-7">
                    <input type="text" placeholder="0.00" class="form-control" />
                </div>
                <div class="col-md-3 col-5">
                    <span>cm</span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn_1 btn-primary" id="tostr-save9">Save</button>
        </div>
    </div>
</div>
