
@{
    ViewBag.Title = "Lab1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div >
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Lab First</h2>
        </div>
    </header>
    <!-- Breadcrumb-->
    <!-- <div class="breadcrumb-holder container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Forms</li>
      </ul>
    </div> -->
    <!-- Forms Section-->
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <p>Need to fill mandatory fields.</p>
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Name of Patient<span class="star">*</span></label>
                                            <input type="text" placeholder="Name of Patient" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Age<span class="star">*</span></label>
                                            <input type="text" placeholder="Age" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Gender<span class="star">*</span></label>
                                            <select name="account" class="form-control mb-3">
                                                <option>Select Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Address<span class="star">*</span></label>
                                            <input type="text" placeholder="Address" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Date<span class="star">*</span></label>
                                            <input type="Date" placeholder="Email Address" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Ref. by Dr.<span class="star">*</span></label>
                                            <input type="text" placeholder="Ref. by Dr." class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">Mobile No.<span class="star">*</span></label>
                                            <input type="number" placeholder="Mobile No." class="form-control">
                                        </div>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lab_l">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>SONOGRAPHY</h4>
                                    <br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Abdomen Pelvis
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Pelvis
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;KUB
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Chest
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h4>OBSTRETRIC USG</h4>
                                    <br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Routine obs USG
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;NT Scan
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Anomaly Scan (18-22 Wk)
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Obstretric USG with Doppler
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;3D / 4D Obstretric USG
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h4>COLOUR DOPPLER STUDY</h4>
                                    <br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Venous System
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Upper Limb Rt / Lt
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Lower Limb Rt / Lt
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Arterial System
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Upper Limb Rt / Lt
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Lower Limb Rt / Lt
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Carotid Doppler
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Renal Doppler
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <h4>SMALL PART USG</h4>
                                    <br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Thyroid
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Neck
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Scrotum
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Orbit
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Muskeulokeletal
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Breast / Sonomammography Rt / Lt
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Local Parts
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lab_l">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>DIGITAL X-RAY</h4>
                                    <br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Chest PA / AP
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Spine CS / DL / LS
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;KUB
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Abdomen Erect / Supine
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Joint / Bone
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;PNS
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Other
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4>DIGITAL X-RAY &amp; PROCEDURES</h4>
                                    <br>
                                    <ul class="list-unstyled">
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;IVU / RGU / MCU / HSG
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Sinogram / Fistulogram
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Pleural Fluid Tapping
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;Ascitic Fluid Tapping
                                        </li>
                                        <li>
                                            <input id="checkboxCustom" type="checkbox" value="" onchange="checkAll(this)" class="checkbox-template">
                                            &nbsp;FNAC / BIOPSY
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lab_l">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Clinical History</h4>
                                    <div class="form-group">
                                        <textarea style="width: 100%;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <input type="submit" value="Back" class="btn btn_1 btn-primary">
                                    <input type="submit" value="Save" class="btn btn_2 btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-sm-6">
                  <p>Your company &copy; 2017-2020</p>
                </div> -->
                <div class="col-sm-12 footer-img text-right">
                    <p><span class="small">Powered by</span> <img src="img/Powered By company logo.png" class="img-responsive"></p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>


