
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">CREATE ADMIN</h2>
        </div>
    </header>
   
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Basic Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <!-- <div class="card-close">
                          <div class="dropdown">
                            <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                          </div>
                        </div> -->
                        <!-- <div class="card-header d-flex align-items-center">
                          <h3 class="h4">Basic Form</h3>
                        </div> -->
                        <div class="card-body">
                            <p>Need to fill mandatory fields.</p>
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Name<span class="star">*</span>
                                            </label>
                                            <input type="text" placeholder="Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Degree<span class="star">*</span>
                                            </label>
                                            <input type="text" placeholder="Degree" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Registration No.<span class="star">*</span></label>
                                            <input type="text" placeholder="Registration No." class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Gender<span class="star">*</span>
                                            </label>
                                            <select name="account" class="form-control mb-3">
                                                <option>Select Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Date of Birth<span class="star">*</span>
                                            </label>
                                            <input type="Date" placeholder=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Country Code<span class="star">*</span>
                                            </label>
                                            <input type="text" placeholder="Email ID" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Whats App No.<span class="star">*</span>
                                            </label>
                                            <input type="number" placeholder="Whats App No."
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Other No.
                                            </label>
                                            <input type="number" placeholder="Other No."
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Email ID<span class="star">*</span>
                                            </label>
                                            <input type="text" placeholder="Email ID" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Hospital/Clinic/Diagnostic/Lab Name<span class="star">*</span></label>
                                            <input type="text" placeholder="Hospital/Clinic/Diagnostic/Lab Name"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Hospital/Clinic/Diagnostic/Lab No.<span class="star">*</span></label>
                                            <input type="text" placeholder="Hospital/Clinic/Diagnostic/Lab No."
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Hospital/Clinic/Diagnostic/Lab Add.<span class="star">*</span></label>
                                            <input type="text" placeholder="Hospital/Clinic/Diagnostic/Lab Add."
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Activation For</label>
                                            <input type="text" placeholder="Activation For"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Activation Date</label>
                                            <input type="Date" placeholder=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Expiry Date</label>
                                            <input type="Date" placeholder=""
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label">
                                                Roll<span class="star">*</span>
                                            </label>
                                            <select name="account" class="form-control mb-3">
                                                <option>Select Roll</option>
                                                <option>Admin OPD</option>
                                                <option>Admin Dignosis</option>
                                                <option>Admin Laboratory</option>
                                                <option>Admin Dental</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a href="~/Home/Apoinment"><input type="button" value="Back" class="btn btn_1 btn-primary"></a>
                                        <input type="button" value="Save" class="btn btn_2 btn-primary b22">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Footer-->
    
</div>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $('.b22').click(function () {
        swal({
            title: "Your Admin Created Successfully.",
            //text: "You clicked the button!",
            icon: "success",
            button: "OK",
        });
    });

</script>






